@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');

/*Con esto podemos crear variables*/
:root {
    --color-terminal: #292b36;    
    --border-redondo: 4px;
}
*{
    font-family: 'Trispace', 'monospace';
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: azure;
}

input, button{
    border: none;
    outline: none;
}

main {
    padding: 25px;
    box-shadow: 10px 10px 150px 0px rgb(0 0 0 / 75%);
    border-radius: var(--border-redondo);
}

h1 {
    margin: 0;
}

#inputOriginal, #resultado {
    background-color: var(--color-terminal);
    width: -webkit-fill-available;
}

#inputOriginal {
    margin: 10px 0 0;
    padding: 10 px;
    color: azure;
    border-top-left-radius: var(--border-redondo);
    border-top-right-radius: var(--border-redondo);
}

#resultado {
    height: 20px;
    color: orange;
    padding: 0 10px 10px;
    border-bottom-left-radius: var(--border-redondo);
    border-bottom-right-radius: var(--border-redondo);
}

.rango{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: var(--border-redondo);
    background-color: var(--color-terminal);
    margin: 0;
    padding: 0 5px;
    height: 20px;
}

input[type='range']::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background:white;
    border-radius: 50%;
    height:10px;
    width:10px;
}